body {
  /* border: 1px solid hsla(30, 100%, 50%, 1); */
  /* width:600px; */
  /* margin:auto; */
}
#container{
  border: 1px solid hsla(30, 100%, 50%, 1);
  display: inline-block;
  width:auto;
  padding:10px 10px;
  margin:0% 850px;
}
table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  text-align: center;
  padding: 5px 5px;
}
table {
  margin: auto;
}
ol {
  border: 1px solid hsla(30, 100%, 50%, 1);
}
li {
  border: 1px solid hsla(30, 100%, 50%, 1);
  border-collapse: collapse;
  display: block ;
  width:auto;
  height: 25px;
}
