        div {
            position: relative;
            width: 600px;
            height: 400px;
            background-color: skyblue;
            margin: auto;
            border: 1px solid red;
        }

        p {
            position: absolute;
            margin-bottom: 0px;
            bottom: 80px;
            right: 40px;
            font-size: 70px;
            color: white;
            text-shadow: 2px 2px 1px black;
            font-weight: bold;
        }