/* #container {
  margin:auto;
  width:700px;
}

#description {
  border: 1px solid hsl(30, 100%, 50%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 10px;
  width: 700px;
  margin:auto;
}

#receipe {
  margin: 20px 0px;
  border: 1px solid hsl(30, 100%, 50%);
  width: 700px;
  padding:20px 10px;
}

#package{
  margin: 20px 0px;
  border: 1px solid hsl(30, 100%, 50%);
  width: 700px;
  padding: 20px 10px 30px;
}

table,th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px 10px;
} */
#container {
  border: 1px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 700px;
  height: 957px;
  margin: auto;
}

#description, #receipe, #package {
  border : 1px solid hsl(260,100%,50%);
  margin:30px -1px;
  width: 703px;
  padding: 30px 20px 30px;
  height: 300px;
  box-sizing: border-box;
}

#description {
  margin-top:-2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding:5px 10px;
}
tbody td {
  font-style: italic;
}